<div class="bg-gradient-to-r from-hero-gradient-from to-hero-gradient-to">
  <div class="container flex flex-col justify-between py-6 sm:flex-row">
    <div class="flex items-center justify-center pt-5 sm:justify-start sm:pt-0 ml-auto">
      <% data.structure.social.each_with_index do |feat, i| %>
        <a href="<%= feat.url %>" class="pl-4">
          <%= icon(feat.icon, class: "w-6 h-6 text-white hover:text-yellow") %>
        </a>
      <% end %>
    </div>
  </div>
</div>
